.home{
 
    height: 6000px;
    max-width: 100%;
    
  
      
 .imgContainer{
     
 }
 .containerMain{
  height: 5000px;
  width:100% ;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .mainBottom{
    position: absolute;
    top: 4600px;
    width: 92%;

    
     }
  .mainTop{

      position: absolute;
    width: 99%;
     display: flex;
     justify-content: space-around;
     height: 100%;
   
     .containerMainLeft{
     padding-left: 35px;
      width: 300px;
       }
     
     .containerMainRight{
     
     
        }
        .containerMainCenter{
          float: center;
          padding-left: 28px;
     
          width: 50%;
        }
     
     }
     
 }
 
}
